* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #e9e9e9;
  width: 100%;
  height: 100%;
}


.resume {
  font-family: "Poppins", bold;
  position: relative;
  left: 670px;
  top: -36px;
  overflow-y: hidden;

  font-size: 30px;
  color: #000000;
}
#rsmb {
  position: relative;
  left: 635px;
  margin-top: 180px;
  overflow-y: hidden;
  height: 22px;
  width: 22px;
  display: inline-block;
  background-color: #0050ff;
}
#Education {
  font-family: "Poppins", bold;
  position: relative;
  left: 325px;
  top: 60px;
  overflow-y: hidden;

  font-size: 25px;
  color: #000000;
}
.box1 {
  margin-left: 22.5%;
  margin-top: 90px;
  width: 56%;
  position: relative;
  align-content: center;
  height: 25rem;
  background-color: #ffffff;
  margin-right: 22.5%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.148);
  overflow-x: hidden;
}
.box2 {
  margin-left: 22.5%;
  margin-top: 5%;
  width: 56%;
  align-content: center;
  position: relative;
  height: 25rem;
  background-color: #ffffff;
  margin-right: 22.5%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.148);
  overflow-x: hidden;
}
.box3 {
  margin-left: 22.5%;
  margin-top: 5%;
  width: 56%;
  align-content: center;
  height: 30rem;
  background-color: #ffffff;
  margin-right: 22.5%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.148);
  overflow-x: hidden;
}

.skbg {
  width: 100%;
  align-content: center;
  height: 40rem;
  background-color: #e6dace;
  margin-right: 22.5%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.148);
  margin-bottom: -21%;
}
#yeaar {
  font-family: "Poppins", bold;
  position: relative;
  left: 8%;
  top: 20%;
  overflow-y: hidden;

  font-size: 20px;
  color: #034eda;
}
#Schl {
  font-family: "Avenir", Light;
  position: relative;
  left: 8%;
  top: 25%;
  overflow-y: hidden;
  font-size: 18px;
  color: #020202;
}
#Schlloc {
  font-family: "Avenir", Light;
  position: relative;
  left: 8%;
  top: 30%;
  overflow-y: hidden;

  font-size: 12.5px;
  color: #020202;
}

#Schln {
  font-family: "Avenir", Light;
  position: relative;
  left: 35%;
  top: 15%;
  overflow-y: hidden;
  font-size: 18px;
  color: #020202;
}
#Schllocn {
  font-family: "Avenir", Light;
  position: relative;
  left: 35%;
  top: 18%;
  overflow-y: hidden;
  font-size: 18px;
  color: #020202;
}
#degl {
  font-family: "Avenir", Light;
  position: relative;
  left: 8%;
  margin-top: 10%;
  overflow-y: hidden;
  display: inline-block;

  font-size: 15px;
  color: #020202;
}
#degn {
  font-family: "Avenir", Light;
  position: relative;
  left: 24%;
  margin-top: 0%;
  overflow-y: hidden;
  display: inline-block;

  font-size: 18px;
  color: #020202;
}
#skillset {
  font-family: "Poppins", bold;
  position: relative;
  left: 8%;
  margin-top: 10%;
  overflow-y: hidden;

  font-size: 25px;
  color: #000204;
}
#s1b {
  position: relative;
  left: 8.5%;
  margin-top: 2%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;
  background-color: #0050ff;
  display: inline-block;
}

#s2b {
  position: relative;
  left: 8.5%;
  margin-top: 7%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;
  background-color: #0050ff;
}
#s3b {
  position: relative;
  left: 50%;
  top: -17.7%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;

  background-color: #0050ff;
}

#langt {
  font-family: "Poppins", bold;
  position: relative;
  left: 8%;
  top: 3%;
  overflow-y: hidden;

  font-size: 25px;
  color: #000204;
}
#l1b {
  position: relative;
  left: 8.5%;
  top: 10%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;
  background-color: #0050ff;
}
#l2b {
  position: relative;
  left: 8.5%;
  top: 20%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;
  background-color: #0050ff;
}
#s1 {
  position: relative;
  left: 12%;
  margin-top: -12.52%;
  overflow-y: hidden;
}
#s2 {
  position: relative;
  left: 12%;
  margin-top: 7%;
  overflow-y: hidden;
}
#s3 {
  position: relative;
  left: 54%;
  top: -19.5%;
  overflow-y: hidden;
}
#l1 {
  position: relative;
  left: 12%;
  margin-top: 2.5%;
  overflow-y: hidden;
}
#l2 {
  position: relative;
  left: 12%;
  margin-top: 5.2%;
  overflow-y: hidden;
}
#Proname {
  font-family: "Poppins", bold;
  position: relative;
  left: 8%;
  top: 10%;
  overflow-y: hidden;

  font-size: 20px;
  color: #034eda;
}
#sbd {
  position: relative;

  top: 0%;

  height: 3.5rem;
  width: 0.7rem;
  background-color: #0050ff;
  display: inline-block;
}
#protitle {
  left: 8%;
  top: 0%;
  position: relative;

  font: 1.1em "Avenir", Light;
}
.Project1i {
  height: 20rem;
  width: 14rem;
  margin-left: 68%;
  position: relative;
  margin-top: -18%;
}
.phi {
  font-size: 10px;
  font: 0.7em "Avenir", Light;
  color: rgb(0, 0, 0);
}
.Project2i {
  height: 25.2rem;
  width: 15.5rem;
  margin-left: 69.3%;
  margin-top: -36%;
}




