* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #e9e9e9;
  width: 100%;
  height: 100%;
}

/* #logo {
  left: 4.5vw;
  position: relative;
  font-family: "Poppins", bold;
  font-size: 2.3vw;
  color: #000000;
  top: 7.7vh;
} */
/* #am {
  top: 7.5vh;
  left: 54vw;
  position: relative;
  text-decoration: none;
  color: #000;
} */


/* #rsm {
  top: 7.5vh;
  left: 57vw;
  position: relative;
  text-decoration: none;
  color: #000;
}
#pro {
  top: 7.5vh;
  left: 60vw;
  position: relative;
  text-decoration: none;
  color: #000;
}
#cnt {
  top: 7.5vh;
  left: 63vw;
  position: relative;
  text-decoration: none;
  color: #000;
} */

/* nav {
  background-color: rgb(255, 255, 255);
  height: 16vh;
  z-index: 2;
  position: fixed;
  top: 0;
  font-family: "Avenir", light;
  font-size: 1.25vw;
  width: 100vw;

  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.148);
} */


#abm {
  position: relative;
  top: 8px;
  left: 34px;
}


.contact {
  top: 260px;
  left: 384px;
  font-size: 50px;
  color: #0050ff;
  position: relative;
}

#Form {
  position: relative;
  left: 46%;

  margin-top: -1.8rem;
  height: 300px;
  overflow: visible;
  font-family: "Poppins", bold;
  font-size: 20px;
  color: #000000;
}
/* .cntflex{
  background-color: rgb(25, 25, 25);
 width: 500px;
 height: 570px;
  position:relative;
 margin-top: 0px;
 margin-inline: 0;
} */
.a1{top: 20%;
position: relative;height: 75vh;
}
.contme {
  position: relative;
  left: 284px;
  margin-top: 15%;
  overflow-y: hidden;
  font-family: "Avenir", bold;
  font-size: 30px;
  color: #000000;
  display: inline-block;
}
.location {
  position: relative;
  left: 285px;
 top: 8%;
  overflow-y: hidden;
  font-family: "Avenir", bold;
  font-size: 20px;
  color: #000000;
}
.phno {
  position: relative;
  left: 285px;
  top: 14%;
  overflow-y: hidden;
  font-family: "Avenir";
  font-size: 20px;
  color: #000000;
}
.mail {
  position: relative;
  left: 285px;
  top: 145px;
  overflow-y: hidden;
  font-family: "Avenir";
  font-size: 20px;
  color: #000000;
}

#txt {
  border: none;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000;
  position: relative;
  width: 400px;
  height: 36px;
  left: 50%;
 bottom:  45px;
  border: 1px solid #000000;
  font-size: 20px;
  font-family: "Avenir", bold;
  border-radius: 2px;
  overflow-y: hidden;
}
#mailb {
  border: none;
  background-color: #ffffff;
  box-sizing: border-box;

  position: relative;
  width: 400px;
  height: 36px;
  left: 50%;
  bottom:  10px;
  border: 1px solid #000000;
  font-size: 18px;
  font-family: "Avenir", bold;
  border-radius: 2px;
  overflow-y: hidden;
}
#msg {
  border: none;
  background-color: #ffffff;
  box-sizing: border-box;

  position: relative;
  width: 400px;
  height: 70px;
  left: 50%;
  bottom:  -25px;
  border: 1px solid #000000;
  font-size: 20px;
  font-family: "Avenir", bold;
  border-radius: 2px;
  overflow-y: hidden;
}

#btn {
  border: none;
  background-color: #0548ffe1;
  box-sizing: border-box;
  position: relative;
  width: 125px;
  height: 36px;
  left: 275px;
  top: 90px;
  border: 1px;
  font-size: 22px;
  font-family: "Avenir", bold;
  border-radius: 2px;
  overflow-y: hidden;
}
input::placeholder {
  padding-left: 15px;
  font-size: 20px;
  color: #000;
  overflow-y: hidden;
}
#btn {
  color: rgb(255, 255, 255);
  overflow-y: hidden;
}
.resume {
  font-family: "Poppins", bold;
  position: relative;
  left: 670px;
  top: -36px;
  overflow-y: hidden;

  font-size: 30px;
  color: #000000;
}
#rsmb {
  position: relative;
  left: 635px;
  margin-top: 180px;
  overflow-y: hidden;
  height: 22px;
  width: 22px;
  display: inline-block;
  background-color: #0050ff;
}
#Education {
  font-family: "Poppins", bold;
  position: relative;
  left: 325px;
  top: 60px;
  overflow-y: hidden;

  font-size: 25px;
  color: #000000;
}
.box1 {
  margin-left: 22.5%;
  margin-top: 90px;
  width: 56%;
  position: relative;
  align-content: center;
  height: 25rem;
  background-color: #ffffff;
  margin-right: 22.5%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.148);
  overflow-x: hidden;
}
.box2 {
  margin-left: 22.5%;
  margin-top: 5%;
  width: 56%;
  align-content: center;
  position: relative;
  height: 25rem;
  background-color: #ffffff;
  margin-right: 22.5%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.148);
  overflow-x: hidden;
}
.box3 {
  margin-left: 22.5%;
  margin-top: 5%;
  width: 56%;
  align-content: center;
  height: 30rem;
  background-color: #ffffff;
  margin-right: 22.5%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.148);
  overflow-x: hidden;
}

.skbg {
  width: 100%;
  align-content: center;
  height: 40rem;
  background-color: #e6dace;
  margin-right: 22.5%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.148);
  margin-bottom: -21%;
}
#yeaar {
  font-family: "Poppins", bold;
  position: relative;
  left: 8%;
  top: 20%;
  overflow-y: hidden;

  font-size: 20px;
  color: #034eda;
}
#Schl {
  font-family: "Avenir", Light;
  position: relative;
  left: 8%;
  top: 25%;
  overflow-y: hidden;
  font-size: 18px;
  color: #020202;
}
#Schlloc {
  font-family: "Avenir", Light;
  position: relative;
  left: 8%;
  top: 30%;
  overflow-y: hidden;

  font-size: 12.5px;
  color: #020202;
}

#Schln {
  font-family: "Avenir", Light;
  position: relative;
  left: 35%;
  top: 15%;
  overflow-y: hidden;
  font-size: 18px;
  color: #020202;
}
#Schllocn {
  font-family: "Avenir", Light;
  position: relative;
  left: 35%;
  top: 18%;
  overflow-y: hidden;
  font-size: 18px;
  color: #020202;
}
#degl {
  font-family: "Avenir", Light;
  position: relative;
  left: 8%;
  margin-top: 10%;
  overflow-y: hidden;
  display: inline-block;

  font-size: 15px;
  color: #020202;
}
#degn {
  font-family: "Avenir", Light;
  position: relative;
  left: 24%;
  margin-top: 0%;
  overflow-y: hidden;
  display: inline-block;

  font-size: 18px;
  color: #020202;
}
#skillset {
  font-family: "Poppins", bold;
  position: relative;
  left: 8%;
  margin-top: 10%;
  overflow-y: hidden;

  font-size: 25px;
  color: #000204;
}
#s1b {
  position: relative;
  left: 8.5%;
  margin-top: 2%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;
  background-color: #0050ff;
  display: inline-block;
}

#s2b {
  position: relative;
  left: 8.5%;
  margin-top: 7%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;
  background-color: #0050ff;
}
#s3b {
  position: relative;
  left: 50%;
  top: -17.7%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;

  background-color: #0050ff;
}

#langt {
  font-family: "Poppins", bold;
  position: relative;
  left: 8%;
  top: 3%;
  overflow-y: hidden;

  font-size: 25px;
  color: #000204;
}
#l1b {
  position: relative;
  left: 8.5%;
  top: 10%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;
  background-color: #0050ff;
}
#l2b {
  position: relative;
  left: 8.5%;
  top: 20%;
  overflow-y: hidden;
  height: 13px;
  width: 13px;
  background-color: #0050ff;
}
#s1 {
  position: relative;
  left: 12%;
  margin-top: -12.52%;
  overflow-y: hidden;
}
#s2 {
  position: relative;
  left: 12%;
  margin-top: 7%;
  overflow-y: hidden;
}
#s3 {
  position: relative;
  left: 54%;
  top: -19.5%;
  overflow-y: hidden;
}
#l1 {
  position: relative;
  left: 12%;
  margin-top: 2.5%;
  overflow-y: hidden;
}
#l2 {
  position: relative;
  left: 12%;
  margin-top: 5.2%;
  overflow-y: hidden;
}
#Proname {
  font-family: "Poppins", bold;
  position: relative;
  left: 8%;
  top: 10%;
  overflow-y: hidden;

  font-size: 20px;
  color: #034eda;
}
#sbd {
  position: relative;

  top: 0%;

  height: 3.5rem;
  width: 0.7rem;
  background-color: #0050ff;
  display: inline-block;
}
#protitle {
  left: 8%;
  top: 0%;
  position: relative;

  font: 1.1em "Avenir", Light;
}
.Project1i {
  height: 20rem;
  width: 14rem;
  margin-left: 68%;
  position: relative;
  margin-top: -18%;
}
.phi {
  font-size: 10px;
  font: 0.7em "Avenir", Light;
  color: rgb(0, 0, 0);
}
.Project2i {
  height: 25.2rem;
  width: 15.5rem;
  margin-left: 69.3%;
  margin-top: -36%;
}



@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

/* * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
} */

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: rgb(255, 255, 255);
  height: 16vh;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.148);
	color: rgb(0, 0, 0);
}

nav a {
	margin: 0 1rem;
	color: #000;
  font-family: "Avenir", light;
  font-size: 1.3vw;
	text-decoration: none;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #000;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}



@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #e9e9e9;
    left: 70%;
		transition: 1s;
		transform: translateY(-100vh);
    z-index: 2;
    box-shadow: -2px 1px 10px rgba(0, 0, 0, 0.148);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
h{
  font-size: 2rem;
  position: relative;
  font-family: "Avenir", light;
  left: 2.2%;
}
#am.active {
  color: #0050ff;
  opacity: 1;
}
#rsm.active {
  color: #0050ff;
  opacity: 1;
}
#pro.active {
  color: #0050ff;
  opacity: 1;
}
#cnt.active {
  color: #0050ff;
  opacity: 1;
}
#am:hover {
  color: rgb(0, 102, 255);
  border-bottom: 2px solid #0050ff;
  
}

#rsm:hover {
  color: rgb(0, 102, 255);
  border-bottom: 2px solid #0050ff;
  
}
#pro:hover {
  color: rgb(0, 102, 255);
  border-bottom: 2px solid #0050ff;
  
}
#cnt:hover {
  color: rgb(0, 102, 255);
  border-bottom: 2px solid #0050ff;
  
}
#am,#rsm,#pro,#cnt{
  font-size: 1.3rem;
  font-family: "Avenir", light;
  opacity: 0.75;
}
#logo{text-decoration: none;
color: #000;}
#logo:hover {
  color: rgb(0, 102, 255);
  
  font-size: 2rem;
}

header div,
nav {
	display: flex;
	align-items: center;
  left: 28%;
  position: relative;
  font-size: 100px;
 
  
}
@media  (max-width:768px){
  #intro{color: red;
  font-size: small;}
  
}